body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 25px;
}

button {
    display: block;
    padding: 15px;
    margin: 20px;
    font-size: 20px;
    background-color: #2A6422;
    color:#DCE7B9;
    box-shadow: 0 5px 5px 0 rgb(from color r g b);
}

.header{
    display:flex;
    justify-content: space-between;
    padding: 8px;
}

.view-highscore{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.view-highscore > .score {
    display: flex;
}

.view-highscore > .score-labels{
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}

.score, .score-labels {
    justify-content: space-evenly;
}

.score > p, .score-labels > div {
    width: 150px;
}

h1 {
    text-align: center;
}

.container {
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    max-width: 50%;
    align-items: center;
}

#submit {
    padding: 15px;
    margin: 20px;
    font-size: 20px;
    background-color: #2A6422;
    color:#DCE7B9;
    box-shadow: 0 5px 5px 0 rgb(from color r g b);
}